<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Phake Test Suite">
     <directory suffix="Test.php">tests</directory>
     <exclude>tests/php7.4/</exclude>
     <exclude>tests/php8/</exclude>
    </testsuite>
    <testsuite name="Phake Test Suite PHP 7.4">
     <directory phpVersion="7.4.0" phpVersionOperator=">=">tests/php7.4/</directory>
    </testsuite>
    <testsuite name="Phake Test Suite PHP 8.0">
     <directory phpVersion="8.0.0" phpVersionOperator=">=">tests/php8/</directory>
    </testsuite>
  </testsuites>
</phpunit>
