<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         syntaxCheck="false">
  <testsuites>
    <testsuite name="Phake Testsuite">
      <directory suffix="Test.php">DigitalSandwich</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src/DigitalSandwich/Phake/</directory>
    </whitelist>
  </filter>
</phpunit>
